* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
  }
  .app{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container{
    width: 1000px;
  }
  header {
    height: 90px;
    background: #6c757d;
    font-size: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section input {
    width: 90%;
    height: 35px;
    margin-top: 20px;
    margin-left: 10px;
  }
  
  .add{
    margin-left: 15px;
    height: 40px;
    width: 35px;
    background: blue;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;
  }
  .text {
    display: flex;
    align-items: center;
    width: 88%;
    border-bottom: 2px solid gray;
    height: 20px;
    margin-top: 30px;
    border-radius: 5px;
    padding: 15px;
    margin-left: 10px;
    margin-right: auto;
  }
  .clear{
  margin-left: auto;
  }
  .clear button {
    background: red;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
  }
  .success button {
    background: #66ff00;
  border: 1px solid #fff;
    width: 30px;
    height: 30px;
  }
  .tg{
    color: red;
    text-decoration: line-through;
    opacity: 0.5;
  }
  .btn{
  margin-left: auto;
  width: 35px;
  height: 30px;
  display: flex;
  align-items: center;
  outline: none;
  font-size: 16px;
  background-color: #fff;
  border: none;
  text-decoration: underline;
  color: black;
  }
  
  
  button{
    cursor: pointer;
  }
  .textt{
    padding: 6px;
    width: 120px;
    height: 20px;
    margin-bottom: 20px;
    color: black;
    border: none;
    
  }
  .mystyle{
    padding: 10px;
    font-size: 15px;
    border: 2px solid gray;
    border-radius: 8px;
    box-sizing: border-box;
  }
  @media screen and (max-width: 700px) {
    section input{
     width: 80%; 
    }
    .text{
      width: 85%;
    }
  }